<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name ="seleniumTestRestAPISuite">
<listeners>
	<listener class-name="io.qameta.allure.testng.AllureTestNg" />
</listeners>
	<test thread-count="5" name="seleniumTest">
		<classes>
			<class name ="seleniumExample.Ikea_dropdown.java" />
			<class name ="seleniumExample.HandleMultipleTabs.java" />
			
		</classes>
	</test> <!--  Test -->
</suite> <!--  Suite -->